@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1em;
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;

    @media (max-width: 480px) {
        padding: 0.5em;
    }
}

#index {
    width: 100%;
    max-width: 1468px;
    height: 92vh;
    max-height: 660px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    color: #fff;
}

/* ---------------------------sidebar layout---------------------------- */
#sideBar {
    /*flex-basis: 200px; !* 固定大小，可以是像素、em等单位 *!*/
    /*flex-basis: 30%; !* 相对大小，基于父容器的宽度 *!*/
    /*flex-basis: auto; !* 根据内容自动调整大小 *!*/
    flex-basis: 252px;
    background-color: #5c5c5c;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 它定义了一个项目相对于其他项目的缩小比例; 默认情况下，所有项目的 flex-shrink 值为 1，表示它们在空间不足时等比例缩小。如果设置为 0，则表示项目不缩小。*/
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px;

    @media (max-width: 480px) {
        display: none;
    }
}

/* =============================user layout============================ */
.user {
    display: flex;
    flex-direction: column;
}

/* user picture */
.user .userPicture {
    width: 60px;
}

/* user name */
.user .userName {
    padding: 1em 0 0.5em 0;
}

/* user email */
.user .userEmail {
    padding: 0 0 1em 0;
    color: #b0afaf;
}
/* =============================sidebar menu============================ */
.sidebar-menu {
    display: flex;
    flex-direction: column;
    flex-basis: 284px;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px 50px 50px 40px;

    @media (max-width: 480px) {
        display: none;
    }

    @media (min-width: 481px) {
        display: flex;
    }
}

.sidebar-menu .sidebar-menu__link {
    color: #b0afaf;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 24px;
}

.sidebar-menu .sidebar-menu__link:hover {
    color: #ffffff;
}
.sidebar-menu .sidebar-menu__link.active {
    color: #ffffff;
}


/* ---------------------------main layout---------------------------- */
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px 50px 50px 20px;
    background-color: #b9b6b6;

    @media (max-width: 480px) {
        padding: 40px 20px;
    }
}

/* =============================main header============================ */
.main-header {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-bottom: 20px;
}

.main-header .main-header__title {
    font-size: 28px;
    font-weight: 600;

    @media (max-width: 480px) {
        font-size: 16px;
        width: 400px;
    }
}

.main-header-nav {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 20px 0;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

.main-header-nav .nav-item {
    color: #e7e7e7;
    text-decoration: none;
    padding-bottom: 6px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    margin-left: 24px;

    @media (max-width: 480px) {
        font-size: 10px;
    }
}

.main-header-nav .nav-item:hover {
    color: #ffffff;
}

.main-header-nav .nav-item.active {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

/* =============================main content============================ */
.main-content {
    display: grid;
    /* 表示重复 4 次相同的列宽度*/
    grid-template-columns: repeat(4, 1fr);
    /* 用于定义网格容器（grid container）或弹性容器（flex container）中的行和列之间的间隙（间距） */
    gap: 24px;
    overflow-y: auto;

    @media (max-width: 480px) {
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    border-radius: 20px;
    /*overflow: hidden;*/
    max-width: 100%;
    /* 该属性告诉浏览器该元素及其所有子元素都是独立于文档流的，并且对布局不会影响其父元素或兄弟元素。*/
    contain: layout;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: auto;
    /* 用于设置元素的宽高比 */
    aspect-ratio: 1/1;
    transition: 0.6s;

    font-size: 20px;
    /* 文字上下居中展示 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    @media (max-width: 480px) {
        aspect-ratio: 1/1.4;
        font-size: 12px;
        max-width: 80%;
    }
}

.card-img {
    /* 定义了一个替换元素的内容应如何适应到其使用的高度和宽度 */
    object-fit: cover;
    /* 定义了背景图片的大小 */
    background-size: cover;
    /* 定义了背景图片的位置 */
    background-position: center;
}

.card.clicked {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 2;
    transition: 0.6s;
    margin: 21px 0 0 61px;
    
    @media (min-width: 480px) {
        border-radius: 50px;
        width: 300px;
        height: 350px;
        margin: 50px 0 0 50px;
        font-size: 25px;
    }
}

.card.active {
    grid-column: 1;
    grid-column-end: 5;
    grid-row: 1;
    grid-row-end: 5;
    z-index: 20;
    aspect-ratio: 1/1;

    @media (max-width: 480px) {
        grid-column-end: 4;
        aspect-ratio: 2/1;
    }
}

.main-content.expanded .card:not(.clicked) {
    /* 透明度(这里的案例表示 不透明度为40%；透明度为 60%；) */
    opacity: 0.4;
    /* 它用于设置元素及其子元素不会与鼠标或触摸设备产生交互作用 */
    pointer-events: none;
    aspect-ratio: 4/1;
    /* 指定了元素应开始放置的网格列的索引。值 3 表示元素将从网格的第 3 列开始放置 */
    grid-column-start: 4;
    transition: 0.6s;

    @media (max-width: 480px) {
        aspect-ratio: 1;
        grid-column-start: auto;
    }
}

.main-content.expanded .card.active {

}

/* =============================main footer============================ */
.main-footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 480px) {
        margin-left: 10px;
    }
}

/* main-footer button */
.btn-footer {

}

/* =============================after button click============================ */
/* total card inner */
.card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 490px;
    
    @media (min-width: 480px) {
        color: black;
    }

    @media (max-width: 481px) {
        color: white;
    }
}
/* card title */
.card-title {
    text-align: center;
    flex: 1;
    padding: 80px 0 0 0;
}

/* card content */
.card-content {
    flex: 3;
    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
        justify-content: center;
        align-items: center;
    }
}

/* card content detail */
.card-content-detail {
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    flex: 2;

    @media (min-width: 480px) {
        width: 250px;
    }
}

/* action button */
.action-button {
    flex: 1;
    border-radius: 10px;
    padding: -10px 0 50px 0;
    z-index: 3;
}

/* card-content-footer */
.card-content-footer {
    flex: 1;
}

/* ---------------------------Scroll bar styles--------------------------- */
/* 滚动条整体宽度 */
::-webkit-scrollbar {
   width: 10px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    /* 这里可以添加轨道的样式，如果没有额外样式，可以省略此块 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgba(33, 33, 33, 0.3);
    border-radius: 0.5em;
}