<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script th:src="@{/JQuery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/emojiAnimation.js}"></script>
</head>
<body>
    <div id="index">
        <!-- left to show login user and other information -->
        <div id="sideBar">
            <!-- user information -->
            <div class="user">
                <img class="userPicture" src="" alt="user picture">
                <span class="userName"> userName </span>
                <span class="userEmail"> user@example.com </span>
            </div>

            <!-- sidebar menu -->
            <div class="sidebar-menu">
                <!-- vote -->
                <a href="#" class="sidebar-menu__link active" data-target="vote">vote</a>
                <!-- logout -->
                <a href="#" class="sidebar-menu__link logout" data-target="logout">logout</a>
            </div>
        </div>


        <!-- main page -->
        <div class="main">
            <!-- main header -->
            <div class="main-header">
                <!-- main header title-->
                <div class="main-header__title"> Choose the topic you like to start vote, have fun here. </div>
                <!-- main header nav-->
                <div class="main-header-nav">
                    <!-- all -->
                    <a href="#" class="nav-item active">All</a>
                    <!-- favorite -->
                    <a href="#" class="nav-item">Favorite</a>
                    <!-- life -->
                    <a href="#" class="nav-item">Life</a>
                    <!-- travel -->
                    <a href="#" class="nav-item">Travel</a>
                    <!-- books -->
                    <a href="#" class="nav-item">Books</a>
                    <!-- transportation -->
                    <a href="#" class="nav-item">Transportation</a>
                </div>
            </div>
            <!-- main content -->
            <div class="main-content">
                <!-- cards -->
<!--                <div-->
<!--                    th:each="cardText, cardIndex: ${cardTexts}"-->
<!--                    th:class="'card-' + ${cardIndex.index + 1}"-->
<!--                    class="card card-img"-->
<!--                >-->
<!--                    <span th:text="${cardText}"></span>-->
<!--                </div>-->

<!--                <div class="card card-img card-1">-->
<!--                    favorite fruits-->
<!--                </div>-->
<!--                <div class="card card-img card-2">-->
<!--                    masterpiece-->
<!--                </div>-->
<!--                <div class="card card-img card-3">-->
<!--                    travel-->
<!--                </div>-->
<!--                <div class="card card-img card-4">-->
<!--                    painting-->
<!--                </div>-->
<!--                <div class="card card-img card-5">-->
<!--                    books-->
<!--                </div>-->
<!--                <div class="card card-img card-6">-->
<!--                    games-->
<!--                </div>-->
            </div>
        </div>
    </div>
</body>
</html>