<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script th:src="@{/JQuery/jquery.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
<div class="wrapper">
    <form class="login" action="/user/login?target=/index" method="post">
        <p class="title">Log in</p>
<!--        <div th:text="${SPRING_SECURITY_LAST_EXCEPTION}"></div>-->
        <input type="text" placeholder="Username" autofocus name="username"/>
        <i class="fa fa-user"></i>
        <input type="password" placeholder="Password" name="passwd"/>
        <i class="fa fa-key"></i>
        <a href="#">Forgot your password?</a>
        <button type="button">
            <i class="spinner"></i>
            <span class="state" name="login">Log in</span>
        </button>
    </form>
    <footer>
        <span>
            This is a vote demo website, have fun here.
        </span>
    </footer>
    </p>
</div>
</body>
<script>
    generateBackgroundPictures();

    function generateBackgroundPictures() {
        // Here is script for changing login background picture.
        let backgroundPictureFolderPath = "./pictures/";
        let backgroundPictureUrls = [];
        for (let i = 1; i <= 9; i++) {
            backgroundPictureUrls.push("0" + i + ".jpg");
        }
        // get a random pictures
        let tmpIndex = Math.floor(Math.random() * backgroundPictureUrls.length);
        let backgroundPictureUrl = backgroundPictureUrls[tmpIndex];

        // make the random pictures to background
        document.body.style.backgroundImage = "url(" + backgroundPictureFolderPath
            + backgroundPictureUrl + (")");
    }


    // sumit method
    $(document).ready(function () {
        $('form.login').submit(function (event) {
            event.preventDefault();

            var username = $('input[name="username"]').val();
            var password = $('input[name="passwd"]').val();

            $.ajax({
                type: 'POST',
                url: '/user/login',
                contentType: 'application/json',
                data: JSON.stringify({ "username": username, "passwd": password }),
                success: function (response) {
                    // Here I don't use 'window.location.href' to redirect page. Replace this way with code in Spring Security. 
                    // window.location.href = './html/index.html';
                },
                error: function (error) {
                    // login failed.
                    alert('Login failed!');
                }
            });
        });
    });

</script>
</html>